:root {
  --color-primary: #256DDF;
  --color-secondary: #33CDB2; }

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0; }

.page-login {
  display: flex;
  height: 100vh;
  padding: 75px 50px 200px 150px;
  background-image: url("../img/bg-3.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden; }
  @media only screen and (min-width: 112.5em) {
    .page-login {
      background-image: none; } }
  @media only screen and (max-width: 37.5em) {
    .page-login {
      padding: 65px 70px 0px 75px;
      justify-content: center; } }
  .page-login .section-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .page-login .section-input {
        position: absolute;
        left: 50%;
        transform: translate(-50%); } }
    .page-login .section-input__logo {
      display: flex;
      flex-direction: column; }
      .page-login .section-input__logo .logo-title {
        font-weight: 400;
        margin: 30px 0 60px 0;
        line-height: 30px; }
        @media only screen and (max-width: 56.25em) {
          .page-login .section-input__logo .logo-title {
            font-size: 16px;
            margin: 35px 0 50px 0px; } }
        @media only screen and (max-width: 37.5em) {
          .page-login .section-input__logo .logo-title {
            font-size: 23px; } }
        .page-login .section-input__logo .logo-title--1 {
          letter-spacing: 2px; }
        .page-login .section-input__logo .logo-title--2 {
          letter-spacing: 2px;
          color: #999; }
      .page-login .section-input__logo .logo-img {
        width: 230px; }
        @media only screen and (max-width: 56.25em) {
          .page-login .section-input__logo .logo-img {
            width: 170px; } }
        @media only screen and (max-width: 37.5em) {
          .page-login .section-input__logo .logo-img {
            width: 270px; } }
    .page-login .section-input__text-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 120px; }
      .page-login .section-input__text-field .text-field--1 {
        margin-bottom: 50px;
        width: 300px; }
        @media only screen and (max-width: 56.25em) {
          .page-login .section-input__text-field .text-field--1 {
            width: 280px;
            margin-bottom: 30px; }
            .page-login .section-input__text-field .text-field--1 ::placeholder {
              font-size: 16px; } }
      .page-login .section-input__text-field .text-field--2 {
        margin-bottom: 20px; }
        @media only screen and (max-width: 56.25em) {
          .page-login .section-input__text-field .text-field--2 {
            width: 280px; }
            .page-login .section-input__text-field .text-field--2 ::placeholder {
              font-size: 16px; } }
      .page-login .section-input__text-field .btn-submit {
        margin-top: 20px;
        background-image: linear-gradient(to right bottom, #256ddf, #33cdb2);
        border-radius: 20px;
        width: 100px;
        height: 37px; }
        @media only screen and (max-width: 75em) {
          .page-login .section-input__text-field .btn-submit {
            font-size: 12px; } }
        @media only screen and (max-width: 56.25em) {
          .page-login .section-input__text-field .btn-submit {
            font-size: 10px;
            width: 90px;
            margin-top: 10px; } }
  @media only screen and (min-width: 112.5em) {
    .page-login .section-img {
      width: 50%; } }
  @media only screen and (max-width: 75em) {
    .page-login .section-img {
      margin-top: 20px;
      width: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .page-login .section-img {
      margin-top: 50px;
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .page-login .section-img {
      display: none;
      width: 0;
      margin: 0; } }
  .page-login .section-img__image {
    width: 90%;
    margin-left: 70px; }
