:root{
  --color-primary: #256DDF;
  --color-secondary: #33CDB2;
}
$bp-largest: 75em; 
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small : 37.5em;
$bp-smallest : 31.25em;


@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em) { @content };    //600px
  }
  @if $breakpoint == tab-port {
      @media only screen and (max-width: 56.25em) { @content };     //900px
  }
  @if $breakpoint == tab-land {
      @media only screen and (max-width: 75em) { @content };    //1200px
  }
  @if $breakpoint == big-desktop {
      @media only screen and (min-width: 112.5em) { @content };    //1800
  }
}





